<h1>Exportation</h1>
<div id="sectionDescription">
 <p>L’outil exporter permet de sauvegarder un dessin localement ou de l’envoyer par courriel. </p>
 <p>Il est possible d’exporter selon trois formats : PNG, JPG et SVG. Il est possible d’exporter les trois en même temps.
   Le dessin exporté doit avoir un titre composé de lettre et de chiffres seulement et ayant une longueur maximale de 50 caractères. </p>
 <p>Il est possible d’appliquer un filtre sur l'image avant de l'exporter. L’application offre un choix de cinq filtres différents : Sombre, Saturation,
   Inversion de Couleur, Flou et Couleurs Froides. Un seul filtre doit pouvoir être appliqué à la fois.</p>
 <p>À la droite du menu, une vignette de prévisualisation du dessin est présente pour montrer le dessin avec les modifications actives.</p>
</div>
<div class="container">
  <p class="subTitles">Exporter localement</p>
    <p>Pour exporter localement, il faut s’assurer que la case "ENVOYER PAR COURRIEL" n’est pas active. Si elle n’est pas active, le dessin sera exporté localement.
    </p>
    <img src="../../../../assets/guide_images/export_1.png" alt="line_2" width="600" height="400" />
</div>

<div class="container">
  <p class="subTitles">Envoyer le dessin par courriel</p>
    <p>Pour exporter un dessin et l’envoyer par courriel,
      il faut cocher la case "ENVOYER PAR COURRIEL" puis entrer une adresse valide dans la zone de texte qui apparaitra sous le bouton.
      Une fois l’adresse entrée,
      il suffit d’appuyer sur le bouton exporter dans le coin inférieur gauche du menu exporter.

    </p>
    <img src="../../../../assets/guide_images/export_2.png" alt="line_2" width="600" height="400" />
</div>
