<h1>Galerie</h1>
<div class="container">
    <p>La galerie sert à visualiser, supprimer et continuer des dessins sauvegarder sur un serveur. </p>
    <p>On peut accéder à la galerie à partir de la page d’accueil ainsi qu’à partir de la barre latérale dans la vue de dessin.
      Chaque dessin est présent avec un titre, un format réduit du dessin et peut contenir des tags.</p>
    <p>On peut chercher manuellement un dessin spécifique ou rechercher un dessin à l’aide de la barre de recherche par tags.
      Il faut entrer l’étiquette que l’on veut chercher puis appuyer sur "ENTRER" ou appuyer sur le petit bouton "+"".
      Tous les dessins qui contiendront ce tag apparaitrons.
      On peut entrer plusieurs tags. Pour supprimer un tag de la recherche, il suffit de cliquer sur le tag pour le retirer.</p>
    <p>Pour continuer un dessin, il faut appuyer sur le bouton "CONTINUER" puis le dessin sera charger sur la page de dessin et pourra être modifié. </p>
    <p>Pour supprimer un dessin du serveur, il faut appuyer sur la petite corbeille à côté du bouton "CONTINUER". Un fois le dessin supprimé, il ne pourra plus être récupéré. </p>
    <p>Il est possible d'ouvrir la galerie avec les touches "CTRL + G" du clavier</p>
    <img src="../../../../assets/guide_images/gallery_1.png" alt="line_2" width="600" height="400" />
</div>

<div class="space"></div>

