<h1>Outils de traçage</h1>
<div id="sectionDescription">
  <p>
    Les outils de traçage permettent de créer des dessins à main levé ou d'utiliser l'efface pour supprimer des éléments du dessin.
  </p>
  <p>
    Cette section contient: le crayon, le pinceau, l'aérosol et l'efface.
  </p>
</div>
<div class="container">
    <p class="subTitles">Crayon</p>
    <p>L'outil crayon est un crayon à pointe ronde.</p>
    <p>Le crayon commence à dessiner lorsque le bouton gauche de la souris est enfoncé et arrête
       de dessiner lorsque le bouton est relâché.</p>
    <p>La largeur du trait est modifiable dans ses attributs dans le bas du menu de gauche.</p>
    <p>Il est possible de sélectionner le crayon à l’aide de la touche C du clavier.</p>
    <p>Le crayon utilise la couleur primaire.</p>

    <img src="../../../../assets/guide_images/pencil_1.png" alt="pencil_1" width="600" height="400">
</div>
<div class="container">
  <p class="subTitles">Pinceau</p>
  <p>L’outil pinceau est un pinceau à pointe ronde qui utilise un filtre pour changer son apparence.</p>

    <p>Le pinceau commence à dessiner lorsque le bouton gauche de la souris est enfoncé et arrête de dessiner lorsque le bouton est relâché.</p>
    <p>La grosseur du trait et le filtre sont modifiables dans ses attributs dans le bas du menu de gauche.</p>
    <p>Il est possible de sélectionner le pinceau à l’aide de la touche W du clavier.</p>
    <p>Le crayon utilise la couleur primaire.</p>
    <img src="../../../../assets/guide_images/brush_1.png" alt="brush_1" width="600" height="400">
</div>
<div class="container">
  <p class="subTitles">Aérosol</p>
  <p>L’outil aérosol ajoute des points de façon aléatoire dans un certain diamètre autour de la souris.</p>
  <p>L’aérosol commence à générer des points lorsque le bouton de gauche de la souris est enfoncé et continue à en générer jusqu’à ce que le bouton soit relâché.</p>
    <p>Le diamètre autour de la souris et le nombre de points généré par seconde sont modifiables dans ses attributs dans le bas du menu de gauche.</p>
    <p>Il est possible de sélectionner l’aérosol à l’aide de la touche A du clavier.</p>
    <p>L’aérosol utilise la couleur primaire.</p>
    <img src="../../../../assets/guide_images/aerosol_1.png" alt="brush_1" width="600" height="400">
</div>
<div class="container">
  <p class="subTitles">Efface</p>
  <p>L’efface permet d’effacer un ou des objets sous le carré blanc autour de la souris. L’élément qui sera effacé sera mis en évidence en rouge.</p>
  <p>Il est possible d’effacer un seul élément en faisant un simple clic gauche de la souris ou il est possible d’effacer plusieurs éléments en balayant le dessin avec la souris en gardant le bouton gauche de la souris enfoncé. </p>
    <p>La grosseur du carré de l’efface est modifiables dans ses attributs dans le bas du menu de gauche.</p>
    <p>Il est possible de sélectionner l’efface à l’aide de la touche E du clavier.</p>
    <p>L’efface n’utilise aucune couleur.</p>

    <img src="../../../../assets/guide_images/eraser_1.png" alt="brush_1" width="600" height="400">
</div>
<div class="space"></div>
