<h1>Palette de couleur</h1>
<div id="sectionDescription">
  <p>
    La palette de couleur est un outil permettant de choisir une couleur spécifique. Cette couleur peut être utilisé par les outils ou par le fonds du dessin.
  </p>
</div>
<div class="container_1">
    <p>La palette de couleur permet de sélectionner une couleur précise de deux façons différentes.</p>
    <p>1. La première façon est de faire un clic gauche sur la bande de couleur RGB puis de choisir le gradient de cette couleur dans le rectangle de gauche de la palette de couleur. </p>
    <p>2. La deuxième méthode est d’entrer le code hexadécimal du RGB de la couleur voulu dans les trois champs prévus à cet effet dans la partie droite droite de la palette de couleur.</p>
    <p>La couleur choisie est ensuite montrée dans le carré dans le coin supérieur droit de la palette de couleur. Pour confirmer le changement de couleur,
      il faut peser sur le bouton "OK". Si on ne veut finalement pas changer la couleur, on peut cliquer à l’extérieur de la palette ou sur le bouton "ANNULER" pour fermer celle-ci.</p>
</div>
<div class="image">
    <img src="../../../../assets/guide_images/palette_1.png" alt="palette_1" width="600" height="400" />
</div>
<div class="image">
    <img src="../../../../assets/guide_images/palette_2.png" styalt="palette_2" width="600" height="400" />
</div>
<div class="image">
    <img src="../../../../assets/guide_images/palette_3.png" alt="palette_3" width="600" height="400" />
</div>
<!-- <div class="container">
  <p>Applicateur de Couleur</p>
  <p>
      Il est possible de changer la couleur d'un objet déjà dessiné en cliquant dessus.
      Sélectionner l'outil avec la touche R.
      Un clic avec le bouton gauche sur un objet fera changer sa couleur pour la couleur principale.
      Un clic avec le bouton droit sur un objet fera changer la couleur de bordure, s’il en a une, pour la couleur secondaire.
  </p>
  <img src="../../../../assets/guide_images/color_picker_1.png" alt="rectangle_1" width="600" height="400" />
</div>
<div class="container">
  <p>Pipette</p>
  <p>
      Il est possible de choisir une couleur en utilisant l'outil pipette.
      Sélectionner l'outil avec la touche R.
      Un clic avec le bouton gauche assigne la couleur saisie à la couleur principale.
      Un clic avec le bouton droit assigne la couleur saisie à la couleur secondaire.
  </p>
  <img src="../../../../assets/guide_images/pipette_1.png" alt="rectangle_1" width="600" height="400" />
</div> -->
<div class="space"></div>
