<h1>Grille</h1>
<div class="container">
    <p>La grille est un outil qui permet d’afficher une grille sur toute la surface de dessin Pouvant servir de règle ou de repère lors de l’utilisation des autres outils. </p>
    <p>La grille peut être activée en cliquant sur le bouton "ACTIVER LA GRILLE" dans la section grille de la barre latérale. </p>
    <p>Il est possible de changer la transparence ainsi que la grosseur des carrés de la grille à l’aide de ses attributs situés sous le bouton "ACTIVER LA GRILLE".</p>
    <p>La grille peut être activé à l’aide de la touche G du clavier. La grosseur des carrés de la grille peut être augmenté à l’aide de la touche "+"" et diminuer à l’aide de la touche "–" du clavier.</p>
    <p>La grille est propre au dessin et ne sera enregistrer avec celui-ci. De plus, les outils ne peuvent pas changer la grille. La couleur de la grille ne peut pas être modifié.</p>
    <img src="../../../../assets/guide_images/grid_1.png" alt="line_2" width="600" height="400" />
</div>
<div class="space"></div>

