<h1>Vue de dessin</h1>
<div class="container">
    <p>
      Bienvenue dans la zone de dessin. La barre latérale contient les quatre catégories d’outil :
      outil de sélection, outils de traçage, outils de forme et outils de couleurs. Dans la partie inférieure
      de la barre latérale se trouvent les différents menus et options :
       la grille, le annuler-refaire, créer un dessin, sauvegarder, exporter, galerie, menu principal et accès au guide.     </p>
    <img src="../../../../assets/guide_images/drawing_view.png" alt="drawing_view" width="600" height="400" />
    <p>En sélectionnant une option de la barre latérale, le menu de sélection qui se trouve
      à la droite de la barre latérale sera mis à jour et affichera les bonnes options. </p>
    <p>Dans la partie supérieure du menu de sélection se trouve la liste des outils de cette section. Sous la liste des outils se trouve la couleur primaire,
      la couleur secondaire, les dix dernières couleurs utilisées, l’opacité primaire et secondaire et la couleur de l’arrière-plan.</p>
    <p>Sous la couleur de l’arrière-plan va se trouver les attributs de l’outil actif.
      Il se peut qu’il faille défiler le menu de sélection pour voir l’entièreté des attributs d’un outil. </p>
    <img src="../../../../assets/guide_images/drawing_view_2.png" alt="drawing_view" width="600" height="400" />
</div>
<div class="space"></div>
