<h1>Sauvegarder</h1>
<div class="container">
    <p>Le menu sauvegarder sert à sauvegarder le dessin actif sur un serveur. Les dessins sauvegardés sont ensuite accessibles à parti de la galerie.</p>
    <p>Pour sauvegarder un dessin, ouvrir le menu sauvegarder dans la barre latérale à parti de la vue de dessin. </p>
    <p>Il faut ensuite entrer un titre qui ne contient que des lettres et des chiffres et qui ne dépasse pas 50 caractères. Le titre est obligatoire.</p>
    <p>Il est ensuite possible d’entrer des tags pour décrire le dessin. Les tags sont composés de lettres et de chiffres et ne dépassent pas 10 caractères.
      Pour confirmer le tag, on peut appuyer sur le petit bouton "+" ou appuyer sur la touche "ENTRER" du clavier.
      Pour supprimer un tag, il suffit de cliquer sur le tag à supprimer.</p>
    <p>Il est possible d’ouvrir le menu de sauvegarde du dessin avec les touches "CTRL + S" du clavier</p>
    <img src="../../../../assets/guide_images/save_drawing.png" alt="line_2" width="600" height="400" />
</div>

<div class="space"></div>
