<h1>Outils de forme</h1>
<div id="sectionDescription">
  <p>
    Les outils de forme permettent d'insérer des formes géométriques prédéterminés dans le dessin.  </p>
  <p>
    Cette section contient: la ligne, le rectangle, l'ellipse et le polygon.
  </p>
</div>

<div class="container">
  <p class="subTitles">Ligne</p>
  <p>L’outil ligne permet de créer des lignes connectées. Il est possible de mettre des points circulaires sur les jonctions.</p>
  <p>L’outil ligne commence à créer une ligne lorsque le bouton gauche de la souris est enfoncé.
    Il n’est pas nécessaire de garder le bouton gauche de la souris enfoncé. Une jonction sera créée à chaque nouveau clique gauche de la souris.
    Pour terminer la ligne, il faut faire un double clic à l’aide du bouton gauche de la souris.</p>
  <p>Le choix de mettre des points sur les jonctions, la grosseur de la ligne et la grosseur des points sur les jonctions sont tous modifiables dans ses attributs dans le bas du menu de gauche.</p>
  <p>Il est possible de sélectionner l’outil ligne à l’aide de la touche L du clavier.</p>
  <p>La ligne utilise la couleur primaire pour la ligne et la couleur secondaire pour les points sur les jonctions.</p>
  <img src="../../../../assets/guide_images/line_2.png" alt="line_1" width="600" height="400" />
  <p>Le bouton pour activer les points sur les jonctions est indiqué dans l'image ci-dessous</p>
  <img src="../../../../assets/guide_images/line_1.png" alt="line_1" width="600" height="400" />
</div>


<div class="container">
    <p class="subTitles">Rectangle</p>
    <p>L’outils rectangle permet de créer des rectangles ou des carrés. Trois types de rectangle peuvent être créer : plein et contour, plein seulement ou contour seulement.</p>
    <p>L’outil rectangle fonctionne comme un glisser-déposer. Le rectangle commence à se dessiner à partir de l’un de
      ses coins lorsque le bouton gauche de la souris est enfoncé et son coin suis la souris jusqu’à ce que le bouton gauche de la souris soit relâché.
      Il est possible de faire un carré en gardant la touche "MAJ" enfoncé lors du glisser-déposer.</p>
    <p>Le type de rectangle (plein et contour, plein seulement ou contour seulement) et la grosseur de son contour sont modifiables dans ses attributs dans le bas du menu de gauche.</p>
    <p>Il est possible de sélectionner l’outil rectangle à l’aide de la touche 1 (un) du clavier.</p>
    <p>Le rectangle utilise la couleur primaire pour le centre du rectangle et la couleur secondaire pour le contour. </p>
    <img src="../../../../assets/guide_images/rectangle_1.png" alt="rectangle_1" width="600" height="400" />
</div>
<div class="container">
  <p class="subTitles">Ellipse</p>
  <p>L’outils ellipse permet de créer des ellipses ou des cercles. Trois types de cercles peuvent être créer : plein et contour, plein seulement ou contour seulement.</p>
    <p>L’outil ellipse fonctionne comme un glisser-déposer. L’ellipse commence à se dessiner à partir de la position de la souris
      lorsque le bouton gauche de la souris est enfoncé et suis la souris jusqu’à ce que le bouton gauche de la souris soit relâché.
      Il est possible de faire un cercle en gardant la touche "MAJ" enfoncé lors du glisser-déposer.</p>
    <p>Le type de cercle (plein et contour, plein seulement ou contour seulement) et la grosseur de son contour sont modifiables dans ses attributs dans le bas du menu de gauche.</p>
    <p>Il est possible de sélectionner l’outil cercle à l’aide de la touche 2 du clavier.</p>
    <p>Le cercle utilise la couleur primaire pour le centre de l'ellipse et la couleur secondaire pour le contour.</p>
    <img src="../../../../assets/guide_images/ellipse_1.png" alt="brush_1" width="600" height="400">
</div>
<div class="container">
  <p class="subTitles">Polygone</p>
  <p>L’outils polygone permet de créer polygones réguliers de trois à douze côtés. Trois types de polygone peuvent être créer : plein et contour, plein seulement ou contour seulement.</p>
    <p>L’outil polygone fonctionne comme un glisser-déposer. Le polygone commence à se dessiner à partir de la position de la souris
      lorsque le bouton gauche de la souris est enfoncé et suis la souris jusqu’à ce que le bouton gauche de la souris soit relâché. </p>
    <p>Le type de polygone (plein et contour, plein seulement ou contour seulement), la grosseur de son contour et le nombre de côtés sont modifiables dans ses attributs dans le bas du menu de gauche.</p>
    <p>Il est possible de sélectionner l’outil polygone à l’aide de la touche 3 du clavier.</p>
    <p>Le polygone utilise la couleur primaire pour le centre du polygone et la couleur secondaire pour le contour.</p>
    <img src="../../../../assets/guide_images/polygone_1.png" alt="brush_1" width="600" height="400">
</div>
<div class="space"></div>
