<div id="attributes">
  <h5 class="attributeHeader">Épaisseur du trait (en pixel)</h5>

  <input class='inputBox' type="number"
    value={{currentWidth}} min="3" max="40" step="1" (keypress)='onKeypress($event)'
    oninput="validity.valid||((value < min) ? value = 1 :value= 40);"
    (focus)="this.focus.emit()" (focusout)="focusOutValidation()"
    (input)= "onWidthInputChange($event.target.value)">

  <mat-slider class="slider" min="3" max="40" step="1"
    value={{currentWidth}} thumbLabel tickInterval="1"
    (change)="onWidthSliderChange($event.value)"></mat-slider>
</div>
