.image {

  margin-left: 24px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.container {
  width: 700px;
  height: fit-content;
  padding: 8px 24px 50px 24px;
  text-align: justify;
  margin-right: 0;
}
.space {
  width: 800px;
  height: 100px;
}

.subTitles {
  font-size: x-large;
  font-weight: bold;
}

h1 {
  text-align: center;
}

#sectionDescription {
  width: 700px;
  height: fit-content;
  padding: 10px 24px 10px 24px;
}

