<h1>Outils de couleur</h1>
<div id="sectionDescription">
  <p>
    Les outils de couleur servent à modifier la couleur des éléments du dessin ou d'aller spécifiquement chercher des couleurs déjà utilisées.
  </p>
  <p>
    Cette section contient: le seau de peinture, la pipette et l'applicateur de couleur.
  </p>
</div>

<div class="container">
  <p class="subTitles">Seau de peinture</p>
  <p>
    Il est possible de remplir une région de la couleur principale en utilisant le seau de peinture.
    Il crée une forme de la même taille de la région choisie laquelle peut être sélectionnée et manipuler par la suite.
  </p>
  <img src="../../../../assets/guide_images/bucket.png" alt="rectangle_1" width="600" height="400" />
</div>

<div class="container">
  <p class="subTitles">Pipette</p>
  <p>L’outil pipette permet d’aller chercher la couleur exacte d’un élément présent dans le dessin dans le but de réutiliser celle-ci. </p>
  <p>L’outil fonctionne de la façon suivante : lors d’un clic du bouton gauche de la souris, la couleur principale active sera remplacé par la couleur pointé par la souris.
    Lors d’un clic droit de la souris c’est la couleur secondaire qui sera remplacée.</p>
  <p>L’outils pipette n’a aucun attribut modifiable.</p>
  <p>Il est possible de sélectionner l’outil pipette à l’aide de la touche I du clavier.</p>
  <p>La pipette n’utilise pas les couleurs présentent pour dessiner, il ne fait que les remplacer. </p>
  <img src="../../../../assets/guide_images/pipette_1.png" alt="rectangle_1" width="600" height="400" />
</div>
<div class="container">
  <p class="subTitles">Applicateur de Couleur</p>
  <p>L’outils applicateur de couleur permet de changer la couleur d’un élément ou de son contour dans le dessin.</p>
  <p>L’outil applicateur de couleur fonctionne de la façon suivante :
    Un clic avec le bouton gauche de la souris sur un objet fera changer sa couleur pour la couleur principale active.
    Un clic avec le bouton droit de la souris sur un objet fera changer la couleur de bordure, s’il en a une, pour la couleur secondaire active.</p>
  <p> L’outil applicateur de couleur n’a pas d’attribut modifiable hors des couleurs primaire et secondaire.</p>
  <p>Il est possible de sélectionner l’applicateur de couleur à l’aide de la touche R du clavier.</p>
  <p>L’applicateur de couleur utilise la couleur principale sur le clic gauche et la couleur secondaire sur le clic droit.</p>
  <img src="../../../../assets/guide_images/color_picker_1.png" alt="rectangle_1" width="600" height="400" />
</div>

<div class="space"></div>
