<h1>Outils de traçage</h1>
<!-- <div class="container">
    <p>
        Tracer une ligne d'un ou plusieurs segments en utilisant l'outil Ligne! Définir le début de la ligne avec un clic. Avec chaque clic suivant,
        former un segment qui connecte le clic précédant. Créer des segments alignés avec l'axe des X avec un angle multiple de 45 degrés en gardant
        la touche "SHIFT" enfoncée. Terminer le tracage de la ligne avec un double clic. Si le double clic est à 3 pixels (sur chaque axe) du début de
        ma ligne, La ligne sera fermée sur elle même. Il est possible d'annuler le dessin complet avec la touche "ESCAPE" et supprimer le dernier
        point avec la touche "BACKSPACE", sauf pour le dernier point.
    </p>
    <img src="../../../../assets/guide_images/line_2.png" alt="line_1" width="600" height="400" />
</div>
<div class="image">
    <p>
        Il est possible de configurer le type de jonction (normal ou avec point), l'épaisseur de la ligne (en pixels), le diamètre des points de jonction.
    </p>
    <img src="../../../../assets/guide_images/line_1.png" alt="line_2" width="600" height="400" />
</div> -->

<div class="space"></div>
