<h1>Créer un nouveau dessin</h1>
<div class="container">
    <p>Le menu créer un nouveau dessin sert, comme son nom l’indique, à créer un nouveau dessin. </p>
    <p>Dans le menu, on peut spécifier les dimensions en pixel du nouveau dessin ainsi que sa couleur de fond. Par défaut, les valeurs maximales de la hauteur et de la largeur de l’écran seront déjà entrées. </p>
    <p>La couleur de fond sera blanche par défaut.
      Pour changer celle-ci, il est possible d’entrer le code hexadécimal de la couleur
      voulue ou il est possible de cliquer sur le petit bouton à la droite de la zone de texte pour ouvrir la
      palette de couleur puis sélectionner un couleur à partir de cette fenêtre. </p>
    <p>Si un dessin est déjà en cours, une fenêtre d’alerte apparaitra pour confirmer la création du nouveau dessin. Si le nouveau dessin est créé, l’ancien dessin sera supprimé.</p>
    <img src="../../../../assets/guide_images/new_drawing_1.png" alt="new_drawing_1" width="600" height="400" />
    <p>
      Il est possible d'accéder à la fenêtre de création d'un dessin à l'aide du menu latéral.
      Il est possible d'ouvrir la fenêtre de création en faisant le raccourci "Ctrl + O".
  </p>
  <img src="../../../../assets/guide_images/create_drawing.png" alt="line_2" width="600" height="400" />

    <img src="../../../../assets/guide_images/new_drawing_2.png" styalt="new_drawing_2" width="600" height="400" />

    <img src="../../../../assets/guide_images/new_drawing_3.png" alt="new_drawing_3" width="600" height="400" />
</div>

<div class="space"></div>
