<h1>Outil sélection</h1>
<div id="sectionDescription">
  <p>L’outil de sélection permet de sélectionner un ou des objets du dessin puis d’appliquer certaines modifications tels que :
    une translation, une rotation, un copier, un couper, un coller, une duplication ou supprimer un objet.</p>
  <p>Il est possible de sélectionner un ou plusieurs objet et/ou inverser l'état de sélection d'un objet.
    Il est possible de sélectionner un objet en faisant un clic simple sur l'objet avec le bouton gauche de la souris.
    La sélection est visualisée à l'aide d'un rectangle pointillé bleuâtre. L'inversion de la sélection
    (inversion de l'état de l'objet) se fait de la même manière, mais avec le clic droit de la souris.
    Il est possible de sélectionner tous les dessins de la surface de travail en faisant le raccourci "Ctrl + A".</p>
</div>

<div class="container">
  <p class="subTitles">Translation</p>
    <p>
      Une fois qu’un ou des éléments sont sélectionnés, il est possible de déplacer la sélection en faisant un clic gauche de la souris et en gardant le bouton enfoncé sur
      le rectangle englobant la sélection. Pour arrêter de déplacer la sélection, il suffit de relâcher le bouton gauche de la souris.

    </p>
    <img src="../../../../assets/guide_images/selection_1.png" alt="line_2" width="600" height="400" />
</div>
<div class="container">
  <p class="subTitles">Rotation de sélection</p>
    <p>Une fois qu’un ou des éléments sont sélectionnés, il est possible d’appliquer une rotation sur ces éléments.
      En se servant de la molette de la souris,
      il est possible d’effectuer une rotation des éléments de 15 degrés par rapport au centre de la sélection. </p>
    <p>Si vous voulez être plus précis avec votre rotation, vous pouvez appuyer sur "ALT" gauche lors que vous tournez votre roulette pour appliquer des rotations de 1 degrés.</p>
    <p>Il est aussi possible d’appliquer une rotation à chacun des éléments par rapport à leur centre respectif en gardant la touche "MAJ" enfoncé lors de la rotation.</p>
    <img src="../../../../assets/guide_images/rotation.png" alt="line_2" width="600" height="400" />
</div><br />

<div class="container">
  <p class="subTitles">Presse-papier</p>
    <p>Le presse-papier permet d’utiliser plusieurs outils : couper, copier, coller, dupliquer et supprimer.</p>
    <p>Il est possible de couper une sélection et de la placer dans le presse-papier avec "CTRL + X" sur une sélection ou en
      appuyant sur le bouton correspondant (voir le bas de la page.). La sélection qui a été coupé, pourra ensuite être collé. </p>
    <p>Il est possible de copier une sélection et de la placer dans le presse-papier avec "CTRL + C" sur une sélection ou en
      appuyant sur le bouton correspondant (voir le bas de la page.). La sélection qui a été copié, pourra ensuite être collé.</p>
    <p>Il est possible de coller une sélection qui a été coupé ou copié et qui est dans le presse-papier avec "CTRL + V" ou en
      appuyant sur le bouton correspondant (voir le bas de la page.). Le collage fera apparaitre sur le dessin le contenu du presse-papier. </p>
    <p>Il est possible de dupliquer une sélection en utilisant "CTRL + D" ou en appuyant sur le bouton correspondant (voir le bas de la page).
      La duplication fera apparaitre le nouvel élément qui sera ensuite modifiable.</p>
    <p>Il est possible de supprimer une sélection en appuyant sur la touche "DEL" du clavier ou en appuyant sur le bouton correspondant (voir le bas de la page).</p>
    <img src="../../../../assets/guide_images/clipboard.png" alt="line_2" width="600" height="400" /><br />
</div>
<div class="bigWrapper">
    <div>
        <p>copier</p>
        <button title="copier" type="button">
            <img src="../../../../assets/copy_icon.svg" alt="copy icon"
            width="25px" height="25px" />
        </button>
    </div>
    <div>
        <p>coller</p>
        <button title="coller" type="button">
            <img src="../../../../assets/paste_icon.svg" alt="paste icon"
            width="25px" height="25px" />
        </button>
    </div>
    <div>
        <p>couper</p>
        <button title="couper" type="button" >
            <img src="../../../../assets/cut_icon.svg" alt="cut icon"
            width="25px" height="25px" />
        </button>
    </div>
    <div>
        <p>dupliquer</p>
        <button title="dupliquer" type="button" >
            <img src="../../../../assets/duplicate_icon.svg" alt="duplicate icon"
            width="25px" height="25px" />
        </button>
    </div>
    <div>
        <p>supprimer</p>
        <button title="supprimer" type="button">
            <img src="../../../../assets//delete_icon.svg" alt="delete icon"
            width="25px" height="25px" />
        </button>
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br />

